<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="email-icon active"><img src="./image/email.png"></div>
            <div class="send-icon"> <img src="./image/send.png"></div>
        </div>

        <div class="mainbar">
            <div class="head-main"></div>
            <div class="list-mail"></div>
        </div>

        <div class="viewbar">
    
        </div>
    </div>
</body>
</html>