<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="email-icon active"><img src="./image/email.png"></div>
            <div class="send-icon"> <img src="./image/send.png"></div>
        </div>

        <div class="mainbar">
            <div class="head-main">Mail List</div>
            <div class="list-mail">
                <div class="mail-card">
                    <table>
                        <div class="profile"><img src="./image/user.png"></div>
                        <tr>
                            <td>from</td>
                            <td>: kresna yuda permana</td>
                        </tr>
                        <tr>
                            <td>date</td>
                            <td>: 02/02/2023</td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>: ayo bermain</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="viewbar">
            <table>
                <tr>
                    <td>from</td>
                    <td>: kresna yuda permana</td>
                </tr>
                <tr>
                    <td>date</td>
                    <td>: 02/02/2023</td>
                </tr>
                <tr>
                    <td>title</td>
                    <td>: ayo bermain</td>
                </tr>
            </table>
            <hr>
            <textarea readonly cols="55" rows="17" re>wewiueiwueiwu</textarea>
        </div>
    </div>
</body>
</html>