*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bahnschrift SemiBold",sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 80%;
    background-color: #478498;
    display: grid;
    grid-template-columns: 1.5fr 6fr 9fr;
    border-radius: 20px;
    overflow: hidden;
    border: 15px solid #478498;
    gap: 10px;
}

.container .sidebar{
    background-color: #478498;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.container .sidebar img{
    width: 70px;
    height: 70px;
    color: white;
}


.container .viewbar{
    background-color: #ebe6e0;
}

.container .sidebar .email-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: 500ms;
    border-radius: 50%;
    margin-right: 10px;
}

.container .sidebar .email-icon:hover{
    background-color: #ebe6e0;
    border-radius: 50%;
    margin-right: 10px;
} 

.container .sidebar .send-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: 500ms;
    border-radius: 50%;
    margin-right: 10px;
}

.container .sidebar .send-icon:hover{
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
} 

.container .sidebar .send-icon img{
    margin-right: 13px;
    margin-top: 10px;
}


/*mainbar*/

.container .mainbar{
    position: relative;
    background-color:  #ebe7e2;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
    align-items: center;
    overflow: auto;
}

.container .mainbar .head-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ebe6e0;
    font-weight: bold;
    width: 90%;
    height: 50px;
    background-color: #478498;
    margin: 20px;
    border-radius: 20px ;
}

.container .mainbar .list-mail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .mainbar .list-mail .mail-card{
   
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 90%;
    height: 100px;
    margin: 10px 0px 10px 0px;
    background-color: #ddd7d0;
    border-radius: 20px;
}

.container .mainbar .list-mail .mail-card img{
    width: 70px;
    height: 70px;
}

.container .mainbar::-webkit-scrollbar{
    width: 20px;
    overflow: hidden;
}

.container .mainbar::-webkit-scrollbar-track{
    border-radius: 0px 20px 20px 0px;
    background-color: #ebe6e0;
    overflow: hidden;

}

.container .mainbar::-webkit-scrollbar-thumb{
    background-color: #ddd7d0;
}

.container .viewbar{
    border-radius: 20px;
    padding: 20px;
}

.container .viewbar hr{
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
    height: 10px;
    background-color: #478498;
}

.container .viewbar textarea{
   font-size: 20px;
   resize: none;
   outline: none;
   border: none;
   background-color: #ebe6e0;
}